<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #001233;
            color: #0466c8;
        }
        h1{
            color: #f4f4f4;
            text-align: center;
            margin: 20px 0px;
        }
        .contenedorDeHeroes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;
        }
        .heroes{
            background-color: #000814;
            width: 300px;
            text-align: center;
            padding-bottom: 25px;
            border-radius: 25px;
            overflow: hidden;
            
        }
        .heroes:hover {
            transform: translateY(-5px);
        }
        ul{
            margin: 0;
            list-style: none;
            margin-left: -35px;
        }
        h2{
            margin: 0;
            background-color: #03045e;
            border-bottom: 2px solid #0466c8;
            padding: 15px 0px;
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
            color: #0466c8;
            margin-top: 10px;
        }
        p{
            margin: 0;
        }
        h4{
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Superheroes</h1>

    <section class="contenedorDeHeroes">
        <% superheroes.forEach(heroe => { %>
            <div class="heroes">                
                <h2><%= heroe.nombreSuperHeroe %></h2>
                <h4>Nombre Real:</h4>              
                <p><%= heroe.nombreReal %></p>
                <h4>Edad:</h4>
                <p><%= heroe.edad %></p>
                <h4>Planeta de Origen:</h4>
                <p><%= heroe.planetaOrigen %></p>
                <% if(Array.isArray(heroe.debilidad)) { %>
                    <h4>Debilidades:</h4>
                    <ul>
                        <% heroe.debilidad.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.poderes)) { %>
                    <h4>Poderes:</h4>
                    <ul>
                        <% heroe.poderes.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.aliados)) { %>
                    <h4>Aliados:</h4>
                    <ul>
                        <% heroe.aliados.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.enemigos)) { %>
                    <h4>Enemigos:</h4>
                    <ul>
                        <% heroe.enemigos.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.creador)) { %>
                    <h4>Creadores:</h4>
                    <ul>
                        <% heroe.creador.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <a href="/api/superheroes/editar/<%= heroe._id %>?_method=put">Editar Superheroe</a>
            </div>
        <% }) %>
    </section>
</body>
</html>