<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #001233;
            color: #00b4d8;
        }
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 50px;
        }
        .agregar{
            text-decoration: none;
            color: #f4f4f4;
        }
        .agregar:hover{
            color: #023e8a;
        }
        h1{
            color: #f4f4f4;
            text-align: center;
            margin-bottom: 25px;
            margin-top: 20px;
        }
        .contenedorDeHeroes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;
        }
        .heroes{
            display: flex;
            flex-direction: column;
            background-color: #000814;
            width: 300px;
            text-align: center;
            padding-bottom: 25px;
            border-radius: 25px;
            overflow: hidden;
        }
        .heroes1{
            display: flex;
            justify-content: space-evenly;
            margin-top: auto;
            padding-top: 20px;
        }
        ul{
            margin: 0;
            list-style: none;
            margin-left: -35px;
        }
        h2{
            margin: 0;
            background-color: #03045e;
            border-bottom: 2px solid #0466c8;
            padding: 15px 0px;
            margin-bottom: 15px;
        }
        .editar{
            background-color: #03045e;
            text-decoration: none;
            color: #a5ffd6;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
        }
        .editar:hover{
            background-color: #023e8a;
        }
        button{
            background-color: #d90429;
            border: none;
            padding: 12px 15px;
            border-radius: 15px;
            cursor: pointer;
            font-size: medium;
            color: #f4f4f4;
            font-weight: 700;
        }
        button:hover{
            background-color: #ef233c;
        }
        p{
            margin: 0;
        }
        h4{
            margin: 0;
            color: #0466c8;
        }
    </style>
</head>
<body>
    <header>
        <h1>Superheroes</h1>
        <a href="/api/superheroes/agregar" class="agregar">
            <h3>+ Agregar Superheroe</h3>
        </a>
    </header>

    <section class="contenedorDeHeroes">
        <% superheroes.forEach(heroe => { %>
            <div class="heroes">                
                <h2><%= heroe.nombreSuperHeroe %></h2>
                <h4><strong>Nombre Real:</strong></h4>              
                <p><%= heroe.nombreReal %></p>
                <h4><strong>Edad:</strong></h4>
                <p><%= heroe.edad %></p>
                <h4><strong>Planeta de Origen:</strong></h4>
                <p><%= heroe.planetaOrigen %></p>
                <% if(Array.isArray(heroe.debilidad)) { %>
                    <h4><strong>Debilidades:</strong></h4>
                    <ul>
                        <% heroe.debilidad.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.poderes)) { %>
                    <h4><strong>Poderes:</strong></h4>
                    <ul>
                        <% heroe.poderes.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.aliados)) { %>
                    <h4><strong>Aliados:</strong></h4>
                    <ul>
                        <% heroe.aliados.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.enemigos)) { %>
                    <h4><strong>Enemigos:</strong></h4>
                    <ul>
                        <% heroe.enemigos.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(Array.isArray(heroe.creador)) { %>
                    <h4><strong>Creadores:</strong></h4>
                    <ul>
                        <% heroe.creador.forEach(p =>{ %>
                            <li><%= p %></li>
                        <% }) %>
                    </ul>
                <% } %>
                <div class="heroes1">
                    <a href="/api/superheroes/editar/<%= heroe._id %>?_method=put" class="editar">Editar Superheroe</a>
                    <form action="/api/Superheroes/<%= heroe._id %>?_method=delete" method="post" onsubmit="return confirmarEliminacion()">
                        <button type="submit">Eliminar</button>
                    </form>

                    <script>
                        function confirmarEliminacion() { return confirm('Seguro que desea eliminar el superheroe?'); }
                    </script>
                </div>
            </div>
        <% }) %>
    </section>
</body>
</html>